.gradient-icon-border {
   position: relative;
   z-index: 2;
   overflow: hidden;
}

.gradient-icon-border::before {
   content: '';
   position: absolute;
   inset: 0;
   padding: 1px;
   border-radius: 50px;
   background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.5) 100%
   );
   -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor;
   mask-composite: exclude;
   pointer-events: none;
   z-index: 1;
}