@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  user-select: none;
  -webkit-user-drag: none;
}

.gradient-border {
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #242424, #242424), linear-gradient(134deg, #F7EA76, #70F8A6);
}

.gradient-border-reverse {
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #242424, #242424), linear-gradient(134deg, #70F8A6, #F7EA76);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}